



#links a {
    width: 592px;
    height: 28px;
    top: 659px;
    left: 340px;
    text-decoration: none;
}

a {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding: 6px 28px;
    color: #FF9900;
}