



#footer {
    width: 592px;
    height: 36px;
    top: 651px;
    left: 340px;
    border: 1px;
}

#line {
    width: 568px;
    top: 651px;
    left: 364px;
    border: none;
    color: #ECEFF2;
}